* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 80%;
  margin: 0 auto;
}

.design {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 5px;
}

#circle_width {
  margin-bottom: 20px;
}

#inputText {
  margin-top: 30px;
}

.btn {
  padding: 10px 40px;
  background-color: beige;
  border-radius: 8px;
  border-style: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  margin-left: 40px;
}
.btn:hover {
  cursor: pointer;
  background-color: bisque;
}

.wrapper {
  width: 100%;
}

label {
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
  margin-bottom: 10px;
}

input[type=text] {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 5px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  height: 30px;
  min-width: 50%;
}

.text_area {
  margin-top: 20px;
  width: 100%;
  height: 200px;
  border: 2px solid black;
  border-radius: 8px;
}